/* Start Global */
:root {
  --main-color: #C55980;
  --text-color: rgb(153 153 153);
  --title-color: rgb(69,75,84);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Cairo', sans-serif !important;
  counter-reset: services;
}
a {
  text-decoration: none !important;
}
ul {
  list-style: none !important;
}
.custom-title {
  border: 3px solid;
  border-radius: 10px;
  color: var(--title-color);
  width: fit-content;
  margin: 0 auto 60px;
  padding: 5px 20px;
  font-weight: 600;
  position: relative;
  z-index: 1;
  transition: color .30s
}
.custom-title:hover {
  color: white;
  transition-delay: .70s
}
.custom-title::before {
  position: absolute;
  content: " ";
  background: var(--main-color);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
  left: -30%;
  z-index: -1;
  transition: all .50s
}
.custom-title::after {
  position: absolute;
  content: " ";
  background: var(--main-color);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
  right: -30%;
  z-index: -1;
  transition: all .50s
}
.custom-title:hover::before {
  left: 0;
  animation-name: fill-title-anime;
  animation-duration: .50s;
  animation-delay: .30s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
.custom-title:hover::after {
  right: 0;
  animation-name: fill-title-anime;
  animation-duration: .50s;
  animation-delay: .30s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes fill-title-anime {
  0% {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  100% {
    width: 100%;
    height: 100%;
    border-radius: 10px
  }
}
@media (max-width: 767.98px) {
  .custom-title:hover::before {
    animation-play-state: paused;
    pointer-events: none;
    left: -30%
    }
  .custom-title:hover::after {
    animation-play-state: paused;
    pointer-events: none;
    right: -30%
  }
  .custom-title:hover {
    pointer-events: none;
  }
}
/* End Global */

/* start NavBar */
.navbar {
  padding: 0 !important;
  box-shadow: 0 0px 15px #cbcbcb;
  /* z-index: 99999 !important; */
  background: rgb(255 255 255);
}
.navbar .container {
  position: relative;
}
.navbar-light .navbar-brand {
  color: var(--main-color) !important;
  font-weight: 900;
}
.navbar .navbar-nav li.nav-item {
    /* padding: 0 15px; */
    /* position: relative; */
    transition: all .30s ease-in-out
}
.navbar .navbar-nav .nav-link {
  line-height: 60px;
  height: 80px;
  position: relative;
  padding: 10px 20px !important;
  transition: all .30s linear
}
.navbar .navbar-nav .nav-link:hover {
  background: rgb(197 89 128 / 5%) !important;
}
.navbar .navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 6px;
  background: var(--main-color);
  transition: all .30s
}
.navbar .navbar-nav .nav-link:hover::before {
  width: 100%
}
.navbar .navbar-nav .nav-link:hover {
  color: var(--main-color) !important
}
.nav-link {
  color: rgb(153 153 153) !important;
}
.navbar .navbar-nav .mega:hover .mega-menu {
  opacity: 1;
  z-index: 1;
  top: 80px;
}
.mega-menu {
  position: absolute;
  left: 0;
  top: 150px;
  width: 100%;
  background: rgb(255 255 255);
  border-bottom: 5px solid var(--main-color);
  padding: 25px;
  box-shadow: 0 10px 15px #cbcbcb;
  opacity: 0;
  z-index: -1;
  transition: top .30s, z-index 0s, opacity .30s
}
.mega-menu .mega-links .links li {
  position: relative;
  overflow: hidden;
  cursor: pointer;

}
.mega-menu .mega-links .links li i {
  padding-right: 10px
}
.mega-menu .mega-links .links li::before {
  content: "";
  position: absolute;
  width: 100%;
  left: -100%;
  top: 0;
  height: 100%;
  background: rgb(197 89 128 / 5%);
  transition: all .30s linear;
}
.mega-menu .mega-links .links li:hover::before {
  left: 0;
}
.mega-menu .mega-links .links li:hover a {
  color: var(--main-color)
}
.mega-menu .mega-links .links a {
  color: var(--text-color);
  padding: 10px 15px;
  display: block;
  transition: all .30s linear;
  position: relative;
}
/* end NavBar */
/* start header */
.header {
  position: relative;
  max-height: calc(100vh - 80px)
}
.header::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: rgb(236 236 236);
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.header .title h1 {
  color: var(--title-color);
  font-size: 4rem
}
.header .image {
  padding-bottom: 0;
  position: relative;
}
.header .image img {
  position: relative;
  width: 100%;
  animation: header-anime 3s linear alternate-reverse infinite
}
.header .row {
  align-items: center;
  min-height: calc(100vh - 80px);
  padding-bottom: 120px;
}
@keyframes header-anime {
  0% {
    top: 0;
  }
  50% {
    top: -40px;
  }
  100% {
    top: 0;
  }
}
.arrow {
  position: relative;
  top: -80px;
  margin: auto;
  width: fit-content;
  animation: link-arrow-anime 1.5s infinite;
}
.arrow i {
  color: rgb(197 89 128 / 70%);
  font-size: 2rem;
  cursor: pointer;
  transition: all .30s linear
}
.arrow i:hover {
  color: var(--main-color);
  animation-play-state: paused;
}
.arrow:hover {
  animation-play-state: paused;
}
@keyframes link-arrow-anime {
  0% {
    top: -80px;
  }
  20% {
    top: -60px;
  }
  40% {
    top: -80px;
  }
  60% {
    top: -60px;
  }
  80% {
    top: -60px;
  }
  100% {
    top: -80px;
  }
}
@media (max-width: 767.98px) {
  .header .image {
    display: none;
  }
  .header .title {
    text-align: center;
  }
  .header .title h1 {
    font-size: 3rem;
    margin: 25px 0 0px;
  }
  .header .title p {
    margin: auto;
    padding: 25px
  }
}
/* end header */
/* start articles*/
.articles {
 padding: 40px 0 15px;
}
.articles .content-group {
  margin-bottom: 30px
}
.articles .content-group .article .box {
  box-shadow: 0 0 15px #dbdada;
  border-radius: 10px;
  position: relative;
  top: 0;
  transition: top .50s, box-shadow .50s;
}
.articles .content-group .article .box:hover {
  top: -15px;
  box-shadow: 0 0 15px #b3b3b3
}
.articles .content-group .article .box img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.articles .content-group .article .box h3 {
  padding: 20px 20px 0;
  color: var(--title-color)
}
.articles .content-group .article .box p {
  padding: 20px;
  color: var(--text-color)
}
.articles .content-group .article .box .link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #dbdada;
  color: var(--main-color);
  transition: all .50s
}
.articles .content-group .article .box:hover .link {
  border-top: 1px solid #b3b3b3;
}
.articles .content-group .article .box .link i {
  position: relative;
  right: 0;
}
.articles .content-group .article .box:hover i {
  animation-name: arrow-anime;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.articles .content-group .article .box .link a {
  color: var(--main-color);
  font-weight: bold;
}
@keyframes arrow-anime {
  0% {
    right: 0;
  }
  50% {
    right: -10px
  }
  100% {
    right: 0;
  }
}
@media (max-width: 767.98px) {
 .articles .content-group .article .box {
   margin-bottom: 15px
 }
 .articles .content-group .article .box:hover {
   top: 0
 }
 .articles .content-group {
   margin: 0
 }
}
/* end articles */
/* start gallery */
.gallery {
  padding: 40px 0 15px;
  background: rgb(241 241 241)
}
.gallery .gallery-group {
  margin-bottom: 30px
}
.gallery .gallery-group .gallery-img {
  border: 10px solid rgb(255 255 255);
  border-radius: 10px;
  box-shadow: 0 0 10px #afafaf;
  overflow: hidden;
  position: relative;
}
.gallery .gallery-group .gallery-img::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
  background: rgb(69,75,84,10%);
}
.gallery .gallery-group .gallery-img:hover::after {
  animation: gallery-flash-anime .7s
}
.gallery .gallery-group .gallery-img img {
  width: 100%;
  transition: all .30s
}
.gallery .gallery-group .gallery-img:hover img {
  transform: rotate(10deg) scale(1.2);
}
@keyframes gallery-flash-anime {
  0%,
   40% {
     opacity: 1;
   }
   100% {
     opacity: 0;
     width: 200%;
     height: 200%;
   }
}
@media (max-width: 767.98px) {
  .gallery .gallery-group {
    margin: 0
  }
  .gallery .gallery-group .gallery-img {
    margin-bottom: 15px
  }
}
/* end gallery */
/* start features */
.features {
  padding: 40px 0 15px;
}
.features .feature {
  border: 1px solid rgb(213 213 213);
  text-align: center;
  border-radius: 10px;
  padding-bottom: 30px;
  margin-bottom: 30px
}
.features .feature .img-container {
 position: relative;
 overflow: hidden;
}
.features .feature .img-container::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.features .one .img-container::before {
  background: rgb(197 89 128 / 70%);
}
.features .two .img-container::before {
  background: rgb(244,240,164,0.7)
}
.features .three .img-container::before {
  background: rgb(69,75,84,0.7)
}
.features .feature .img-container::after {
  position: absolute;
  content: " ";
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0 0 170px 500px;
  border-color: rgb(0 0 0 / 0%) rgb(0 0 0 / 0%) rgb(255 255 255) rgb(22 5 5 / 0%);
  transition: all .50s
}
.features .feature:hover .img-container::after {
  border-width: 0 500px 170px 0;
}
.features .feature .img-container img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.features .feature h3 {
  padding-bottom: 30px;
  color: var(--title-color);
  position: relative;
}
.features .one h3::after {
  position: absolute;
  content: " ";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: 5px;
  background: var(--main-color);
}
.features .two h3::after {
  position: absolute;
  content: " ";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: 5px;
  background: rgb(244,240,164);
}
.features .three h3::after {
  position: absolute;
  content: " ";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: 5px;
  background: rgb(69,75,84);
}
.features .feature p {
  padding: 30px 25px 30px;
  color: var(--text-color)
}
.features .feature a {
  display: block;
  width: fit-content;
  padding: 5px 35px;
  border-radius: 10px;
  margin: 0 auto 30px;
  font-weight: 700;
  transition: all .50s
}
.features .one a {
  border: 3px solid var(--main-color);
  color: var(--main-color);
  background: linear-gradient(to right, #c55980 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .two a {
  border: 3px solid rgb(244,240,164);
  color: rgb(244,240,164);
  background: linear-gradient(to right, #F4F0A4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .three a {
  border: 3px solid rgb(69,75,84);
  color: rgb(69,75,84);
  background: linear-gradient(to right, #454B54 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .feature:hover a {
  color: white;
  background-position: left bottom
}
@media (max-width: 767.98px) {
  .features .feature {
    margin-bottom: 15px
  }
}
/* end features */
/* start testimonials  */
.testimonials {
  padding: 40px 0 15px;
  background: rgb(241 241 241)
}
.testimonials .testimonial {
  background: rgb(255 255 255);
  position: relative;
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 30px;
  box-shadow: -2px 4px 7px rgb(175 175 175 / 28%)
}
.testimonials .testimonial img {
  position: absolute;
  top: -35px;
  right: -10px;
  width: 30%;
  border-radius: 50%;
  border: 8px solid rgb(241 241 241);
  transform: rotate(0deg);
  transition: all .50s
}
.testimonials .testimonial:hover img {
  animation: testi-img-anime .50s
}
.testimonials .testimonial h3 {
  font-size: 30px;
  font-weight: bold;
  color: rgb(69 75 84);
  margin: 0;
}
.testimonials .testimonial span {
  display: block;
  color: rgb(197 89 128);
  font-size: 20px;
}
.testimonials .testimonial i {
  color: rgb(244 240 164);
  font-size: 25px;
}
.testimonials .testimonial p {
  color: var(--text-color)
}
@keyframes testi-img-anime {
  0% {
    transform: rotate(0deg)
  }
  25% {
    transform: rotate(5deg)
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg)
  }
}
@media (max-width: 767.98px) {
  .testimonials .testimonial {
    margin-bottom: 15px
  }
}
/* end testimonials  */
/* start team  */
.team {
  padding: 40px 0 15px;
}
.team .team-member {
  margin-bottom: 30px;
  position: relative;
  filter: grayscale(1);
  transition: all .30s
}
.team .team-member:hover {
  filter: unset;
}
.team .team-member::before {
  position: absolute;
  content: " ";
  top: 0;
  right: 0;
  width: 80%;
  background: rgb(241 241 241);
  height: 100%;
  z-index: -1;
  border-radius: 10px;
}
.team .team-member::after {
  position: absolute;
  content: " ";
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  background: rgb(244 240 164 / 70%);
  border-radius: 10px;
  transition: all .30s
}
.team .team-member:hover::after {
  width: 80%
}
.team .team-member img {
  border-radius: 50px;
  margin-top: 60px;
  margin-bottom: 20px;
}
.team .team-member .team-links {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.team .team-member .team-links a {
  width: fit-content;
}
.team .team-member .team-links .fa-facebook-f {
  color: #1877f2
}
.team .team-member .team-links .fa-twitter {
  color: #1da1f2;
}
.team .team-member .team-links .fa-linkedin-in {
  color: #0077b5;
}
.team .team-member .team-links .fa-youtube {
  color: #ff0000;
}
.team .team-member h3 {
  padding-left: 100px;
  color: var(--main-color);
}
.team .team-member span {
  padding-left: 100px;
  display: block;
  padding-bottom: 30px;
  color: var(--text-color);
}
@media (max-width: 767.98px) {
  .team .team-member {
    margin-bottom: 15px;
  }
  .team .team-member::before {
    width: 100%
  }
  .team .team-member:hover::after {
    width: 100%;
  }
  .team .team-member img {
    border-radius: 20px;
    margin-top: 0;
  }
  .team .team-member .team-links {
    justify-content: space-evenly;
    flex-direction: row;
    margin: 15px 0
  }
  .team .team-member h3 {
    padding: 0;
    text-align: center;
  }
  .team .team-member span {
    text-align: center;
    padding-left: 0
  }
}
/* end team  */
/* start service  */
.services {
  padding: 40px 0 15px;
  background: rgb(241 241 241)
}
.services .service {
  background: rgb(255 255 255);
  margin-bottom: 30px;
  box-shadow: 0 0 10px #afafaf;
  counter-increment: services;
  position: relative;
  border-radius: 10px;
  transition: all .30s
}
.services .service::before {
  content: "";
  left: 50%;
  transform: translateX(-50%);
  height: 6px;
  top: 0;
  background-color: var(--main-color);
  position: absolute;
  width: 0;
  transition: all .30s;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.services .service:hover::before {
  width: 100%;
}
.services .service:hover {
  transform: translateY(-10px)
}
.services .service i {
  font-size: 4rem;
  margin: auto;
  display: block;
  width: fit-content;
  padding: 30px 0 20px;
  color: var(--title-color);
}
.services .service h3 {
  margin: 0 auto 35px;
  width: fit-content;
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: 700;
}
.services .service .service-info {
  position: relative;
  background: rgb(241 241 241);
  text-align: right;
  padding: 10px 15px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.services .service .service-info::before {
  position: absolute;
  content: "0" counter(services);
  left: 0;
  background: rgb(69 75 84);
  height: 100%;
  top: 0;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(244 240 164);
  font-weight: 700;
  padding-right: 15px;
  font-size: 1.5rem;
  border-bottom-left-radius: 10px;
}
.services .service .service-info::after {
  position: absolute;
  content: " ";
  background: rgb(197 89 128);
  height: 100%;
  width: 8%;
  top: 0;
  right: 72%;
  transform: skewX(335deg);
  transition: all .30s
}
.services .service:hover .service-info::after {
  right: 64%;
  width: 15%;
}
.services .service .service-info a {
  color: var(--main-color);
  font-weight: 700;
}
@media (max-width: 767.98px) {
  .services .service {
    margin-bottom: 15px;
  }
  .services .service:hover {
    transform: translateY(0);
  }
}
/* end service  */
/* start skills */
.skills {
  padding: 40px 0 45px;
}
.skills .our-skill {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.skills .our-skill .skill h3 {
  justify-content: space-between;
  display: flex;
  color: rgb(69 75 84);
  font-size: 1.2rem;
  font-weight: 700;
  align-items: center;
}
.skills .our-skill .skill h3 span {
  font-size: 10px;
  font-weight: 400;
  border: 1px solid;
  border-radius: 10px;
  padding: 3px 5px;
  color: rgb(197 89 128);
}
.skills .our-skill .skill .skill-progress {
  background: rgb(235 235 235);
  height: 35px;
  border-radius: 10px;
  position: relative;
  transition: all .30s
}
.skills .our-skill .skill .skill-progress:hover {
  box-shadow: 0 0 10px #afafaf;
}
.skills .our-skill .skill .skill-progress span {
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(197 89 128);
  position: absolute;
  border-radius: 10px;
  transition: all .30s
}
@media (max-width: 767.98px) {
  .skills {
    padding-bottom: 0
  }
  .skills .our-skill .skill .skill-progress {
    margin-bottom: 15px
  }
}
/* end skills */
/* start how it works */
.how-it-works {
  padding: 40px 0 15px;
  background: rgb(241 241 241);
}
.how-it-works .step-img-conainer {
  margin: auto;
}
.how-it-works .step-img-conainer img[src="imgs/work-steps.png"] {
  max-width: 80%;
}
.how-it-works .steps-container .step {
  display: flex;
  align-items: center;
  background: rgb(245 245 245);
  margin-bottom: 30px;
  border-radius: 10px;
  border: 2px solid rgb(255 255 255);
  padding: 20px 30px;
  position: relative;
  z-index: 1
}
.how-it-works .steps-container .step::before {
  position: absolute;
  content: " ";
  width: 0;
  height: 0;
  background: rgb(241 241 241);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 10px;
  transition: all .30s
}
.how-it-works .steps-container .step:hover::before {
  width: 100%;
  height: 100%
}
.how-it-works .steps-container .step img {
  width: 15%;
  margin-right: 30px;
}
.how-it-works .steps-container .step h3 {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--title-color);
}
.how-it-works .steps-container .step p {
  color: var(--text-color);
  font-size: 15px;
}
@media (max-width: 767.98px) {
  .how-it-works .step-img-conainer {
    text-align: center;
    margin-bottom: 15px;
  }
  .how-it-works .steps-container .step {
    margin-bottom: 15px
  }
}
/* end how it works */
/* start events */
.latest-event {
  padding: 40px 0 15px;
  position: relative;
}
.latest-event::before {
  position: absolute;
  content: url("../imgs/dots.png");
  top: 20%;
  right: 0;
  z-index: -1
}
.latest-event::after {
  position: absolute;
  content: url("../imgs/dots.png");
  bottom: 20%;
  left: 0;
  z-index: -1
}
.latest-event .latest-events-container .event-content {
  text-align: center;
  margin: auto;
}
.latest-event .latest-events-container .event-content .event-counter-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}
.latest-event .latest-events-container .event-content .event-counter-container .event-counter {
  margin-right: 10px;
  border: 1px solid rgb(213 213 213);
  text-align: center;
  border-radius: 10px;
  background: white;
}
.latest-event .latest-events-container .event-content .event-counter-container .event-counter .event-number {
  border-bottom: 1px solid rgb(213 213 213);
  padding: 15px 20px;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--main-color);
}
.latest-event .latest-events-container .event-content .event-counter-container .event-counter span {
  display: block;
  font-size: 15px;
  padding: 5px;
  color: var(--text-color);
}
.latest-event .latest-events-container .event-content .event-info {
  margin-top: 25px;
}
.latest-event .latest-events-container .event-content .event-info h3 {
  color: var(--title-color);
  font-size: 2rem;
  font-weight: 700;
}
.latest-event .latest-events-container .event-content .event-info p {
  color: var(--text-color);
}
.latest-event form {
  margin: 30px auto;
  width: 50%;
  background: rgb(241 241 241);
  padding: 30px 35px;
  border-radius: 60px;
  display: flex;
  gap: 20px;
}
.latest-event form input[type="email"] {
  width: 100%;
  border: rgb(255 222 173);
  border-radius: 60px;
  padding: 20px 30px;
  background: rgb(255 255 255);
  outline: none;
  color: var(--text-color);
  caret-color: var(--main-color);
}
.latest-event form input[type="email"]::placeholder {
  transition: all .30s
}
.latest-event form input[type="email"]:focus::placeholder {
  opacity: 0;
}
.latest-event form input[type="submit"] {
  border-radius: 50px;
  padding: 20px 40px;
  border: none;
  background: var(--main-color);
  color: rgb(255 255 255);
  font-weight: 700;
  transition: all .30s;
  cursor: pointer;
}
.latest-event form input[type="submit"]:hover {
  background: rgb(197 89 128 / 90%)
}
@media (max-width: 767.98px) {
  .latest-event .latest-events-container .event-img img {
    width: 100%
  }
  .latest-event::before,
  .latest-event::after {
    content: "";
  }
  .latest-event form {
    margin: auto;
    width: 100%;
    padding: 15px;
  }
  .latest-event form input[type="email"] {
    padding: 15px
  }
  .latest-event form input[type="submit"] {
    padding: 15px
  }
}
/* end events */
/* start plans */
.pricing-plans {
  padding: 40px 0 15px;
  background: rgb(241 241 241);
  position: relative;
  z-index: 0
}
.pricing-plans::before {
  position: absolute;
  content: url("../imgs/dots.png");
  top: 20%;
  right: 0;
  z-index: -1
}
.pricing-plans::after {
  position: absolute;
  content: url("../imgs/dots.png");
  bottom: 20%;
  left: 0;
  z-index: -1
}
.pricing-plans .price-plan {
  position: relative;
  background: rgb(255 255 255);
  border-radius: 10px;
  box-shadow: 0 0 10px #afafaf;
  padding: 25px 0;
  margin-bottom: 30px;
}
.pricing-plans .price-plan.advanced {
  top: -15px
}
.pricing-plans .price-plan::before {
  position: absolute;
  content: " ";
  width: 0;
  height: 50%;
  top: 0;
  left: 0;
  background: rgb(241 241 241);
  transition: all .30s;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.pricing-plans .price-plan::after {
  position: absolute;
  content: " ";
  width: 0;
  height: 50%;
  bottom: 0;
  right: 0;
  background: rgb(241 241 241);
  transition: all .30s;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.pricing-plans .price-plan:hover::before {
  width: 100%
}
.pricing-plans .price-plan:hover::after {
  width: 100%
}
.pricing-plans .price-plan .plan-label {
  position: absolute;
  right: 20px;
  writing-mode: vertical-rl;
  background: var(--main-color);
  top: 0;
  padding: 20px 10px 40px;
  color: rgb(244 240 164);
  font-weight: 600;
}
.pricing-plans .price-plan .plan-label::after {
  position: absolute;
  content: " ";
  bottom: 0;
  left: 0;
  border-style: solid;
  border-color: rgb(0 0 0 / 0%) rgb(0 0 0 / 0%) rgb(255 255 255);
  border-width: 25px;
  transition: all .30s
}
.pricing-plans .price-plan:hover .plan-label::after {
  border-color: rgb(0 0 0 / 0%) rgb(0 0 0 / 0%) rgb(241 241 241);
}
.pricing-plans .price-plan h3 {
  text-align: center;
  color: var(--title-color);
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 1.5rem;
  position: relative;
}
.pricing-plans .price-plan img {
  width: 20%;
  display: block;
  margin: 0 auto 25px;
  position: relative;
}
.pricing-plans .price-plan .plan-price {
  display: block;
  text-align: center;
  color: var(--main-color);
  font-size: 2rem;
  font-weight: bold;
}
.pricing-plans .price-plan span {
  display: block;
  text-align: center;
  color: var(--text-color);
  position: relative;
}
.pricing-plans .price-plan ul {
  padding: 0;
  margin-top: 25px;
}
.pricing-plans .price-plan ul li {
  border-top: 1px solid rgb(230 230 230);
  padding: 15px 20px;
  color: var(--title-color);
  position: relative;
  z-index: 1
}
.pricing-plans .price-plan ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 10px;
  font-weight: 900;
  color: var(--main-color);
}
.pricing-plans .price-plan a {
  width: fit-content;
  margin: 30px auto 15px;
  text-align: center;
  display: block;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px 15px;
  color: var(--main-color);
  font-weight: 700;
  position: relative;
  z-index: 1;
  transition: all .30s;
  cursor: pointer;
}
.pricing-plans .price-plan a:hover {
  color: white;
  background: var(--main-color);
}
@media (max-width: 767.98px) {
  .pricing-plans .price-plan {
    margin-bottom: 15px
  }
  .pricing-plans .price-plan.advanced {
    top: 0
  }
}
/* end plans */
/* start videos  */
.videos {
  padding: 40px 0 15px;
}
.videos .videos-container {
  background: rgb(241 241 241);
  border-radius: 10px;
  border: 1px solid rgb(221 221 221);
  margin-bottom: 25px;
}
.videos .videos-container .videos-info {
  background: rgb(255 255 255);
  border: 1px solid rgb(221 221 221);
  padding: 0;
}
.videos .videos-container .videos-info .videos-title {
  background: rgb(241 241 241);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.videos .videos-container .videos-info .videos-title h3 {
  color: var(--title-color);
  font-size: 1.3rem;
  font-weight: bold;
}
.videos .videos-container .videos-info .videos-title i {
  font-size: 1.3rem;
  color: var(--title-color);
}
.videos .videos-container .videos-info ul {
  padding: 0;
  margin: 0;
}
.videos .videos-container .videos-info li {
  border-top: 1px solid rgb(221 221 221);
  padding: 20px;
  color: var(--title-color);
  cursor: pointer;
  transition: all .30s
}
.videos .videos-container .videos-info li:hover {
  background: rgb(233 233 233);
  color: var(--main-color);
}
.videos .videos-container .videos-info li span {
  display: block;
  color: var(--text-color);
}
.videos .videos-container .videos-img {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.videos .videos-container .videos-img img {
  width: calc(100% - 15px);
  padding: 10px;
}
.videos .videos-container .videos-img p {
  background: rgb(255 255 255);
  width: calc(100% - 35px);
  margin: 0 10px 20px 10px;
  padding: 25px;
  color: rgb(221 221 221);
  font-weight: bold;
  font-size: 1.5rem;
}
@media (max-width: 767.98px) {
  .videos .videos-container {
    margin-bottom: 15px
  }
  .videos .videos-container .videos-info {
    width: calc(100% - 30px);
    margin: auto;
  }
  .videos .videos-container .videos-img {
    width: calc(100% - 30px);
    margin: auto;
    padding: 10px 10px 0
  }
  .videos .videos-container .videos-img img {
    width: 100%;
    padding: 0
  }
  .videos .videos-container .videos-img p {
    width: 100%;
    margin: 10px auto; 0;
  }
}
/* end videos */
/* start stats */
.stats-section {
  position: relative;
  padding: 40px 0 15px;
  background-image: url("../imgs/stats.jpg");
}
.stats-section::after {
  position: absolute;
  content: " ";
  background: rgb(255 255 255 / 95%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.stats-section .stat {
  background: rgb(255 255 255);
  padding: 70px;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  color: var(--title-color);
}
.stats-section .stat::before {
  position: absolute;
  content: " ";
  right: 0;
  top: 0;
  width: 5px;
  height: 0;
  background: var(--main-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all .50s
}
.stats-section .stat::after {
  position: absolute;
  content: " ";
  left: 0;
  bottom: 0;
  width: 5px;
  height: 0;
  background: var(--main-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all .50s
}
.stats-section .stat:hover::before {
  height: 100%;
}
.stats-section .stat:hover::after {
  height: 100%;
}
.stats-section .stat i {
  display: block;
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.stats-section .stat .stats-number {
  display: block;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--title-color);
}
.stats-section .stat span {
  color: var(--main-color);
  font-weight: bold;
  font-style: italic;
}
@media (max-width: 767.98px) {
  .stats-section .custom-title::before {
    left: -10%
  }
  .stats-section .custom-title::after {
    right: -10%;
  }
  .stats-section .stat {
    margin-bottom: 15px
  }
}
/* end stats */
/* start discount */
.discount-section {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.discount-section .discount-background {
  background-image: url("../imgs/discount-background1.jpg");
  position: absolute;
  height: 100%;
  background-size: cover;
  width: 50%;
  z-index: -1;
  animation: swap-discount-img 10s infinite alternate-reverse
}
.discount-section .discount-background::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(197 89 128 / 95%);
}
.discount-section .discount-info-container {
  height: 100vh;
  text-align: center;
  padding: 0 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.discount-section .discount-info-container .discount-info {
  position: relative;
}
.discount-section .discount-info-container .discount-info h2 {
  font-weight: bold;
  color: rgb(255 255 255);
  font-size: 2rem;
  margin-bottom: 35px;
}
.discount-section .discount-info-container .discount-info p {
  color: rgb(255 255 255);
  margin: 0 auto 35px;
  width: 90%
}
.discount-section .discount-info-container .discount-info .discount-img {
  position: relative;
  overflow: hidden;
}
.discount-section .discount-info-container .discount-info .discount-img .main-img {
  width: 50%;
  max-width: 100%;
  position: relative;
  right: 0;
  transition: all 1s
}
.discount-section .discount-info-container .discount-info:hover .main-img {
  right: -100%
}
.discount-section .discount-info-container .discount-info .discount-img .alt-img {
  position: absolute;
  width: 50%;
  left: -100%;
  transition: all 1s
}
.discount-section .discount-info-container .discount-info:hover .alt-img {
  left: 50%;
  transform: translateX(-50%);
}
.discount-section .discount-form-container {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.discount-section .discount-form-container .discount-form h2 {
  font-weight: bold;
  color: var(--title-color);
  font-size: 2rem;
  margin-bottom: 35px;
}
.discount-section .discount-form-container .discount-form input {
  display: block;
  width: 40%;
  margin: 0 auto 25px;
  padding: 10px 25px 10px 15px;
  border: none;
  background: rgb(242 243 244);
  border-radius: 10px;
  border-bottom: 2px solid rgb(221 221 221);
  outline: none;
  caret-color: var(--main-color);
  color: var(--title-color);
}
.discount-section .discount-form-container .discount-form textarea {
  width: 40%;
  border: none;
  border-radius: 10px;
  border-bottom: 2px solid rgb(221 221 221);
  resize: none;
  background: rgb(242 243 244);
  padding: 10px 25px 10px 15px;
  margin-bottom: 25px;
  caret-color: var(--main-color);
  outline: none;
  color: var(--title-color);
}
.discount-section .discount-form-container .discount-form input[type="submit"] {
  background: var(--main-color);
  color: rgb(255 255 255);
  font-weight: bold;
  border: none;
  outline: none;
}
.discount-section .discount-form-container .discount-form input[type="submit"]:hover {
  background: rgb(197 89 128 / 90%)
}
@keyframes swap-discount-img {
  0%,
  25% {
    background-image: url("../imgs/discount-background1.jpg");
  }
  50%,
  100% {
    background-image: url("../imgs/discount-background2.jpg");
  }
}
@media (max-width: 767.98px) {
  .discount-section {
    height: auto;
  }
  .discount-section .discount-info-container,
  .discount-section .discount-form-container {
    height: auto;
  }
  .discount-section .discount-info-container .discount-info h2,
  .discount-section .discount-form-container .discount-form h2 {
    margin-top: 25px
  }
  .discount-section .discount-info-container .discount-info h2,
  .discount-section .discount-info-container .discount-info p {
    color: var(--title-color);
  }
  .discount-section .discount-form-container {
    justify-content: start
  }
  .discount-section .discount-form-container .discount-form input,
  .discount-section .discount-form-container .discount-form textarea {
    width: 70%;
  }
  .discount-section .discount-form-container .discount-form input[type="submit"] {
    border: 2px solid
  }
}
/* end dsicount */
/* start footer */
.footer {
  background: rgb(0 0 0);
  padding: 60px 0 0;
}
.footer .footer-social {

}
.footer .footer-social h2 {
  color: rgb(255 255 255);
  font-weight: 700;
  margin-bottom: 25px;
}
.footer .footer-social i {
  width: 50px;
  background: var(--title-color);
  display: inline-block;
  color: var(--text-color);
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin: 0 5px 25px 0;
  transition: all .30s;
  border-radius: 10px
}
.footer .footer-social .fa-facebook-f:hover {
  background: #1877f2
}
.footer .footer-social .fa-twitter:hover {
  background: #1da1f2;
}
.footer .footer-social .fa-youtube:hover {
  background: #ff0000;
}
.footer .footer-social p {
  color: var(--text-color);
}
.footer .footer-links ul {
  padding: 0 15px
}
.footer .footer-links ul li {
  padding: 10px 0 10px;
  border-bottom: 1px solid var(--title-color);
  transition: all .30s
}
.footer .footer-links ul li:hover {
  padding-left: 10px;
}
.footer .footer-links ul li a {
  position: relative;
  color: var(--text-color);
  transition: all .30s
}
.footer .footer-links ul li:hover a {
  color: white
}
.footer .footer-links ul li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.footer .footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
}
.footer .footer-contact .footer-contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-contact .footer-contact-container i {
  color: var(--main-color);
  font-size: 1.5rem;
  margin: 0 20px 0 0;
}
.footer .footer-contact .footer-contact-container p,
.footer .footer-contact .footer-contact-container .footer-contact-container-spans {
    color: var(--text-color);
}
.footer .footer-images {
  display: flex;
  flex-direction: column;
}
.footer .footer-images .footer-image-container {
  margin-bottom: 6px;
}
.footer .footer-images .footer-image-container img {
  width: 32%;
  border: 5px solid rgb(255 255 255);
  border-radius: 10px
}
.footer .end-footer {
  width: 100%;
  color: white;
  font-weight: bold;
  border-top: 1px solid var(--title-color);
  text-align: center;
  padding: 25px 0;
  margin: 0;
}
@media (max-width: 767.98px) {
  .footer {
    padding: 30px 0 0;
    text-align: center;
  }
  .footer .col-lg-3 {
    margin-bottom: 15px
  }
  .footer .footer-contact {
    justify-content: space-around
  }
  .footer .footer-contact .footer-contact-container p {
    margin: 0
  }
  .footer .footer-links {
    width: 60%;
    margin: auto;
  }
}
/* end footer */
